@charset "UTF-8";

/* 回答はここに書いてね */

.chart {
  margin: 0 auto;
  width: 100%;
  padding: 10px;
  table-layout: fixed;
}

.chart th,
.chart td {
  border: 1px solid #dedede;
  text-align: center;
  padding: 10px;
}

.chart th {
  background-color: #24a;
  color: #fff;
  font-size: 18px;
  line-height: 26px;
}

.chart td {
  font-size: 16px;
  line-height: 22px;
  vertical-align: middle;
}

.chart tr:nth-child(2n) {
  background-color: #ecf1f2;
}

.chart tfoot:last-child {
  border-top: 2px dashed #000;
}

/* 回答はここに書いてね */
