@charset "UTF-8";

/* 回答はここに書いてね */
.main {
  margin: 0 auto;
  width: 500px;
  height: 333px;
  /*はみ出た部分を隠す500*333*/
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.transition-property {
  transition: 0.5s;
}

.move:hover .text-cover {
  bottom: 0;
  position: absolute;
  left: 0;
}

.text-property {
  width: 100%;
  bottom: 0;
  position: absolute;
  left: 0;
}

.text-cover {
  bottom: -100%;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .8));
  height: 100%;
  pointer-events:none;
}

.move:hover .car-img{
  transform: scale(1.5);
}

.text {
  font-size: 16px;
  line-height: 16px;
  color: #fff;
  padding: 20px;
  word-break: break-all;
  box-sizing: border-box;
}

/*---------------------------*/

.primary {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.load {
  border: 10px solid #ecf1f2;
  border-top-color: #00bcd4;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: turn 1.1s linear infinite;
}

@keyframes turn{
  0%{
    transform: rotate(0);
  }

  100%{
    transform: rotate(360deg);
  }
}
/* 回答はここに書いてね */
